---
layout: 'layouts/base.njk'
permalink: '/'
templateClass: 'tmpl-home'
navClass: 'tmpl-home__nav'
hideSiteNavigation: true
pageCSS: home
---

<main id="main" class="content-home" tabindex="-1">
  <h1 class="main-headline">Hello.</h1>
</main>